@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');



.space-grotesk-font {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}



*{
  list-style: none;
}

.w-1440{
  width: 1440px !important;
}
a{
  
  text-decoration: none !important;
  
}


.bg-color{
  background-color:#F3FBF4;
}
.mr-ml-80{
  margin-left: 80px;
  margin-right: 80px;
}



/* width */
.width-1276{
  width: 1276px;
}

/* height  */
.hero-h{

  height: 806px;
  
}
.mt-82{
  margin-top: 82px;
}

.mt-135{
  margin-top: 135px !important;
}
.mt-n-50{
  margin-top: -60px;
}
.mt-100{
  margin-top: 100px;
}

/* main color */
.main-color{
  background-color: #F3FBF4;
}

.color-text{
  color: #2BD32A;
}
.btn-color{
  background-color: #2BD32A;
}
.bg-color{
  background-color: #0B3D21;
}
.color-bg{
  background:#0B3D21;
}
.company-img{
  width: 542px;
  height: 398px;
}
/* compnay text */
.company-text{
  width: 561px;
  height: 467px;
}
.company-box-height{
  height: 467px;
}


.fs-70{
  font-size: 70px;
  font-weight: bold;
}
.fs-24{
  font-size: 24px;
 
}
.fs-34{
  font-size: 34px;

}
.fs-24{
  font-size: 24px;
  font-weight: 500;

}
.fs-44{
  font-size: 44px;
  font-weight: bold;
}
/* gap */
.gap-56{
  gap: 56px;
}
.gap-174{
  gap:174px;
}
.gap-40{
  gap: 40px;
}
.gap-18{
  gap: 18px;
}
.gap-16{
  gap: 16px;
}

/* button */
.button-group{
  
   height: 65px;
   width: 392px;
   gap: 25px;
   
}
.button-1{
 
  height: 65px;
  width: 191px;
  border-radius: 7px;
}
.button-2{
  /* style={{border:"none", backgroundColor:"transparent",height:"65px",width:"191px", borderRadius:"7px"}} */
  border: none;
  background-color: transparent;
  height: 65px;
  width: 191px;
}
/* sub heading */
.sub-head-color{
  color: #CFDEE9;
}

/* company title */


/* margin */

.m-n-top{
  margin-top: -60px;
}
.mt-98{
  margin-top: 98px;
}
.mt-n-10{
  margin-top: -10px;
}
/* gap */


/* navbar */

.nav-color{
  font-size: 24px;
  color: white;

}
.nav-home-color{
   font-size: 24px;
   font-weight: bold;
  color: white;

}



/* slider */
.slider-height{
  height: 555px;
}